/*Navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--white);
}

nav #logoSite {
    width: 50%;
}

#logoSite #logo img{
    width: 250px;
}

nav #navIcons {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
        cursor: pointer;
    }
}

#cart {
    position: relative;
}

#cart p {
    position: absolute;
    top: -.6rem;
    right: -.7rem;
    background-color: var(--primary);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu*/

#menuHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    color: var(--black);
    padding: .7rem 3rem;
}

#menuAllCategories {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: .5rem 1rem;
    border-radius: .3rem;
    text-transform: uppercase;

}

#menuDesktop {
    display: none;
}

#phoneNumber {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#phoneNumber i {
    color: var(--white);
}

/*Hero*/
#hero {
    width: 100%;
    height: 25vh;
}

